/* *{margin:0;padding:0}*/
/*common style*/
html,body{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{margin:0;padding:0;}
ul{margin:0;padding:0}
header,nav,section,article,aside,footer{overflow:hidden;}

/*contenier*/
.container {
    width: 900px;
    display: block;
    margin: 0 auto;
	
}
/*top hadera*/
header {
    background-color: #D6D6D6;
    padding: 15px 20px;
}
header h1 {

    color: royalblue;
    text-shadow: 1px 2px #000;

}
/* nav*/
nav {

    width: 100%;
    background-color: #27223E;
    margin: 0 auto;

}
/*menu style*/
nav > ul > li {
	display: inline;
	padding: 82px 48px;
	font-size: x-large;
	width: 100%;
	border-right: 2px solid #fff;
}
/*menu color*/
nav ul li a {
	color: white;
	text-decoration:none;
}
/*sidebar*/
aside {
	background-color: #DFCFBA;
	float: right;
	width: 280px;
	/* height: 354px; */
	padding: 11px 35px;
}
article{
	padding:30px
}
h3 {
	text-align: center;
	color: #222;
}
section {
	background-color: #ddf;
	/* font-size: 18px; */
}
/*horizontal line*/
hr {
	color: #fff;
}
/*footer area*/
footer {
	/* text-align: center; */
	background-color: #F3F385;
	margin: 0 auto;
	padding: 6px 22px;
	
	
	
}
.footer_copy {
	transform: translateX(8px);
	transform: translateY(24px);
}
footer div a{
	text-decoration:none;
}

img {
	width: 95px;
	height: 96px;
	margin: 10px 10px auto;
}
.audio_song {

    padding: 0px 565px;

}
/*linear animation*/
@keyframes janealam{
	0%{background-color: none; left:0px;}
	8%{background-color: none; left:100px;}
	16%{background-color: none; left:200px;}
	24%{background-color: none; left:300px;}
	32%{background-color: none; left:400px;}
	40%{background-color: none; left:500px;}
	48%{background-color: none; left:600px;}
	56%{background-color: none; left:700px;}
	66%{background-color: none; left:600px;}
	72%{background-color: none; left:500px;}
	80%{background-color: none; left:400px;}
	88%{background-color: none; left:300px;}
	 96%{background-color: none; left:200px;}
	100%{background-color: none; left:0px;}
	
}
.animation{
	background-color:none;
	position:relative;
	animation-name:janealam;
	animation-duration:40s;
	animation-iteration-count:infinite;
}